.AdditionalBenefit {
  margin-top: 100px;
  width: 100%;
  min-width: 100%;
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 130px;
  text-align: center;
  position: relative;
  margin-top: 10%;
}

.OurRoom_h5_title {
  width: 100%;
  margin-bottom: 2.5rem;
  visibility: visible;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.OurRoom_h5_title_normal {
  width: 100%;
  visibility: hidden;
  margin-bottom: 2.5rem;
}

.AdditionalBenefit_h3_title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
  margin-bottom: 75px;
}

.AdditionalBenefit_div_blockItem {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.AdditionalBenefit_div_itemCard {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 5%;
  border: 1px black gray;
  background-color: beige;
  border-radius: 7%;
  height: 150px;
  box-shadow: 1px 2px 1px 1px lightgrey;
}

.AdditionalBenefit_div_wrapperImage {
  display: flex;
  justify-content: flex-start;
  height: 50%;
}

.AdditionalBenefit_div_image {
  position: relative;
  width: 50px;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.Photos_image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  align-self: start;
}

.AdditionalBenefit_p_texItem {
  font-size: 15px;
  font-weight: 600;
}

@media (max-width: 600px) {
  .AdditionalBenefit_div_blockItem {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: top;
    width: 80%;
    margin: auto;
    margin-top: 5%;
  }
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
