.Description {
  width: 100%;
  min-width: 100%;
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  text-align: center;
}

.Description_p {
  width: 80%;
  min-width: 80%;
  font-size: 1.1rem;
  line-height: 1.6;
  margin: auto;
  text-align: center;
}
