.OurRoom {
  margin: 5% 0 5% 0;
  width: 100%;
  text-align: center;
}

.OurRoom_h5_title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
}

.OurRoom_TableContainer_desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 80%;
  height: 100%;
  margin: auto;
  margin-bottom: 5%;
}

.OurRoom_TableContainer_mobile {
  display: none;
}

.OurRoom_TableRow_Desktop_View {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  min-width: 100%;
  height: 100%;
  margin: auto;
}

.OurRoom_TableCell_Desktop_View {
  display: flex;
}

.OurRoom_TableCell_Mobile_View {
  display: none;
}

@media (max-width: 600px) {
  .OurRoom_TableContainer_desktop {
    display: none;
  }
  .OurRoom_TableContainer_mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 90%;
    height: 100%;
    margin: auto;
    margin-bottom: 5%;
  }
  .OurRoom_TableCell_Desktop_View {
    display: none;
  }

  .OurRoom_TableCell_Mobile_View {
    display: flex;
  }
}
