.Photos_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.Photos_h5_title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
  text-align: center;
}

.Photos_image:hover {
  opacity: 0.5;
}

.Photos_p_infos_number {
  position: absolute;
  z-index: 1;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 1rem;
  color: white;
  text-shadow: 2px 2px 2px #000;
  margin: 0 auto;
}

.Photos_div_previous {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 5%;
  /* transform: translate(50%, -50%); */
  width: 50%;
  text-align: start;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.Photos_button {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(173, 173, 173, 0.5);
  padding: 5px;
  border: #000 solid 2px;
}

.Photos_p_next {
  font-size: 1rem;
  color: white;
  text-shadow: 2px 2px 2px #000;
  margin: 0 auto;
  max-width: min-content;
  cursor: pointer;
}

.Photos_div_next {
  position: absolute;
  z-index: 5;
  top: 50%;
  right: 5%;
  /* transform: translate(50%, -50%); */
  width: 50%;
  text-align: end;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.Photos_p_previous {
  font-size: 1rem;
  color: white;
  text-shadow: 2px 2px 2px #000;
  margin: 0 auto;
  cursor: pointer;
}

.Photos_card_infos {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 80%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

.ImageModal_modal {
  display: flex;
  justify-content: center;
  width: 75%;
  height: 80%;
  margin: auto;
}

@media (max-width: 600px) {
  .ImageModal_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
  .ImageModal_modal {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 85%;
    margin: auto;
  }
}
