.container {
  padding: 0;
}

.main {
  min-height: 100vh;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
  /* font-family: 'Frank Ruhl Libre', serif; */
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0 0 0;
  border-top: 1px solid #eaeaea;
  justify-content: flex-end;
  align-items: center;
  background-color: beige;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.footer_div_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex-grow: 1;
}

.footer_div_footer {
  margin: 0;
  font-size: small;
}

.logo {
  height: 4em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  /* .grid {
    width: 100%;
    flex-direction: column;
  } */
  .footer_div_footer {
    margin: 0;
    font-size: x-small;
  }
}
